@page
@using Microsoft.Extensions.Localization
@using FiratManagementSystemApi.Localization
@using FiratManagementSystemApi.Web.Pages.FiratManagementSystemApi
@model FiratManagementSystemApi.Web.Pages.FiratManagementSystemApi.IndexModel
@inject IStringLocalizer<FiratManagementSystemApiResource> L

@{
}
<h1>FiratManagementSystemApi</h1>
<p>@L["SamplePageMessage"]</p>
