@page "/FiratManagementSystemApi"
@using Microsoft.Extensions.Localization
@using global::FiratManagementSystemApi.Localization
@inject IStringLocalizer<FiratManagementSystemApiResource> L
@{
}
<h1>FiratManagementSystemApi</h1>
<p>@L["SamplePageMessage"]</p>